a {
    text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.container{
	width: 1160px;
	margin: 0 auto;
}

.font-bold{
	font-weight: 700;
}

.font-green{
	color: #00cc99 !important;
}

.header{
	padding-bottom: 244px;
	text-align: center;
	background-image: url(../img/home-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.navbar {
	margin-bottom: 246px;
    background-color: rgba(51,51,51,0.6)
}

.navbar-inner-flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 120px;
}

.top-logo {
	display: flex;
	align-items: center;
}

.logo-top-img{
	margin-right: 10px;;
}

.logo-top-text {
	color: white;
	font-size: 32px;
}

.top-menu{
	display: flex;
	height: 100%;
	list-style: none;
}

.menu-item-wrapper{
	margin-right: 17px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid transparent;
	transform: translateY(2px);
	pointer-events: none;
}

.menu-item{
	margin-top: 1px;
	display: inline-block;
	color: #b8b8b8;
	text-transform: uppercase;
	font-size: 13px;
	transform: translateY(-2px);
	pointer-events: auto;
}

.menu-item:hover{
	color: #00cc99;
}

.menu-item-wrapper:hover {
	border-bottom: 2px solid #00cc99;
}

.search {
    display: none;
    width: 150px;
    margin-right: 20px;
    outline: none;
    transform: translateY(-4px);
    border: none;
}

.top-menu-search-img {
    width: 22px; height: 22px;
    background: url('../img/top_menu_search_sprites.png') -10px -9px;
}

.top-menu-search-img:hover {
    width: 22px; height: 22px;
    background: url('../img/top_menu_search_sprites.png') -10px -51px;
}

.home-h2text{
	color:  #ffffff;
	font-size: 35px;
	text-transform: uppercase;
}

.home-h1text{
	color:  #ffffff;
	font-size: 79px;
	text-transform: uppercase;
}

.home-h3text{
	margin-bottom: 142px;
	color:  #d4d4d4;
	font-size: 34px;
	font-weight: 300;
	text-transform: capitalize;
}

.top-buttons {
	display: flex;
	justify-content: center;
}

.header-buttons {
	align-items: center;
	justify-content: center;
	display: inline-flex;
	width: 166px;
	height: 61px;
	border-radius: 4px;
	color:  #ffffff;
	font-size: 13px;
	text-transform: uppercase;
}

.btn-green{
	background-color: #18cfab;
}

.btn-blue{
	background-color: #00cbf6;
}

.btn-backing{
	margin-right: 28px;
	align-items: flex-end;
	height: 64px;
	background-color:  #ffffff;
}

.features {
	display: flex;
	justify-content: stretch;
}

.features-item {
    display: inline-flex;
    align-items: center;
	justify-content: center;
	flex: 1 1 200px;
	font-size: 20px;
	font-weight: 700;
	height: 374px;
    background-color:  #1c2a33;
	color: #18cfab;
    border-top: 3px solid #18cfab;
    text-transform: uppercase;
}

.features-item:nth-child(even) {
	background-color: #18cfab;
    color: #ffffff;
    border-top: 3px solid #ffffff;
}

.features-item-inner{
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

.pictures {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 0px;
}

.pictures-item {
    overflow: hidden;
    height: 206px;
    width: 284px;
    box-sizing: border-box;
    transition: 500ms padding-top cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.pictures-item:hover {
	padding-top: 206px;
}

.pictures-item > img{
	height: 206px;
}

.hover-window {
	margin-top: -206px;
	padding-top: 43px;
	height: 206px;
    width: 284px;
    background-color: #f8fcfe;
    text-align: center;
    box-sizing: border-box;
    border-top: 2px solid #00cc99;
}

.hover-window-img {
	margin: 3px;
}

.hover-window-topline {
	margin-top: 35px;
	font-size: 14px;
	text-transform: uppercase;
}

.hover-window-botline{
	margin-top: 15px;
	font-size: 12px;
	color: #999999;
	text-transform: capitalize;
}

.section-title {
    margin-bottom: 70px;
    color:  #4e4e4e;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}

.section-title::after {
    margin: 26px auto 0;
    display: block;
    content: "";
    background-color:  #18cfab;
    width: 77px;
    height: 1px;
}

.section-title::before {
    margin: 0 auto;
    position: relative;
    top: 68px;
    display: block;
    content: "";
    background-color:  #18cfab;
    width: 77px;
    height: 1px;
    transform: translateX(12px);
}

.switch-items {
    display: inline-block;  
    padding: 22px 25px;
    border: 1px solid #ececec;; 
    border-right: none;
    font-size: 14px;
    color: #717171;
}

.switch-items:hover {
    border-top: 1px solid #18cfab;
    color: #18cfab;
}

.switch-items:last-child {
    border-right: 1px solid #ececec; 
}

.switch-menu {
    text-align: center;
    height: 58px;
    margin: 70px 0px 0;
    font-size: 0px;
}

.amazing-work {
    text-align: center;
}

.amzing-work {
    padding: 100px 0;
    background-color: #f8fcfe;
}

.general-button {
    margin: 72px auto 0;
    text-align: center;
    position: relative;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    font-weight: 700;
}

.general-button > *{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 14px;
}

.galery {
    padding: 100px 0 82px;
    background-color: #f8fcfe;
}

.footer-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:  #aeaeae;
    font-size: 14px;
    font-weight: 300;
}

.footer {
    height: 108px;
    background-color: #22353f;
}

.grid{
    width: 100%;
}

.grid-item{
	margin: 1px;
	overflow: hidden;
}

.grid-item.size-l {
	width: 370px;
}

.grid-item.size-m {
	width: 184px;
}

.grid-item.size-s {
	width: 123px;
    height: 90px;
}

.grid-item.size-l > * {
	width: 370px;
}

.grid-item.size-m  > * {
	width: 184px;
}

.grid-item.size-s > * {
	width: 123px;
}